body {
  font-family: Avenir, Tahoma, Arial, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, "Microsoft Sans Serif", WenQuanYi Micro Hei, Helvetica, "sans-serif";

  article {
    img {
      display: block;
      margin: 20px auto;
    }

    h1 {
      text-align: center;
      text-shadow: 0 1px 3px #ccc;
    }
  }

}